ingress:
  enabled: true
  hosts:
    - name: nuttapo-demo-stg-ing
      namespace: stg-fe
      className: nginx
      annotations:
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        cert-manager.io/cluster-issuer: cert-manager-webhook-duckdns-production
      host: nuttapo-demo-stg.duckdns.org
      secretName: cert-manager-duckdns-webhook-webhook-tls
      path: /
      serviceName: frontend
      servicePort: 80
    - name: nuttapo-demo-prd-ing
      namespace: prd-fe
      className: nginx
      annotations:
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        cert-manager.io/cluster-issuer: cert-manager-webhook-duckdns-production
      host: nuttapo-demo-prd.duckdns.org
      secretName: cert-manager-duckdns-webhook-webhook-tls
      path: /
      serviceName: frontend
      servicePort: 80

namespace:
  name: default
configData:
  data: {}