ingress:
  enabled: true
  hosts:
    - name: nuttapo-demo-stg-ing
      namespace: stg-fe
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: cert-manager-webhook-duckdns-staging
      host: nuttapo-demo-stg.duckdns.org
      secretName: nuttapo-demo-stg-tls-staging
      path: /
      serviceName: frontend
      servicePort: 80
    - name: nuttapo-demo-prd-ing
      namespace: prd-fe
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: cert-manager-webhook-duckdns-staging
      host: nuttapo-demo-prd.duckdns.org
      secretName: nuttapo-demo-prd-tls-staging
      path: /
      serviceName: frontend
      servicePort: 80

namespace:
  name: default
configData:
  data: {}