name: PRD - Frontend Deploy

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Artifact tag version"
        default: 'Example: v0.0.1'
        required: true

permissions:
  id-token: write # Mandatory for Azure OIDC authentication
  contents: read # Allow checkout

env:
  APP_TYPE: 'frontend'
  ENVIRONMENT: 'prd'
  KUBERNETES_NAMESPACE: 'prd-fe'
  CLUSTER_RESOURCE_GROUP: 'rg-mydemo-az-asse-dev-001'
  CLUSTER_NAME: 'aks-mydemo-az-asse-dev-001'
  IMAGE_TAG: ${{ github.event.inputs.tag }}

jobs:
  deploy-microservice:
    name: Deploy Frontend Microservice ${{ github.event.inputs.tag }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout pipelines
        uses: actions/checkout@v2

      - name: List working directory
        run: ls

      - name: Log in with Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_MI_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Set Kubernetes Context
        id: aks-login
        run: |
          az aks get-credentials --resource-group ${{ env.CLUSTER_RESOURCE_GROUP }} --name ${{ env.CLUSTER_NAME }} --overwrite-existing
          # kubelogin convert-kubeconfig -l azurecli -t ""

      - name: 'Build Deployment Template'
        run: |
          helm template ./helm --values deploy/${{ env.ENVIRONMENT }}-${{ env.APP_TYPE }}-values.yaml \
          --set image.repository=${{ vars.AZURE_CONTAINER_REGISTRY_NAME }}.azurecr.io/${{ env.APP_TYPE }}:${{ env.IMAGE_TAG }} \
          --set deploymentEnvironment=${{ env.ENVIRONMENT }} \
          --output-dir helm/output

      - name: 'Deploy'
        run: |
          export KUBERNETES_NAMESPACE=${{ env.KUBERNETES_NAMESPACE }}
          kubectl apply -f helm/output/appdeploy/templates/ -n ${KUBERNETES_NAMESPACE}