name: STG - Frontend Deploy

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Artifact tag version"
        default: 'Example: v0.0.1'
        required: true

permissions:
  id-token: write # Mandatory for Azure OIDC authentication
  contents: read # Allow checkout

env:
  APP_TYPE: 'frontend'
  ENVIRONMENT: 'stg'
  KUBERNETES_NAMESPACE: 'stg-fe'
  CLUSTER_RESOURCE_GROUP: 'rg-mydemo-az-asse-dev-001'
  CLUSTER_NAME: 'aks-mydemo-az-asse-dev-001'
  IMAGE_TAG: ${{ github.event.inputs.tag }}

jobs:
  deploy-microservice:
    name: Deploy Frontend Microservice ${{ github.event.inputs.tag }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout pipelines
        uses: actions/checkout@v2

      - name: List working directory
        run: ls

      - name: Log in with Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_MI_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # - name: Login via Azure CLI
      #   id: az-login
      #   run: |
      #     az login --identity --client-id ${{ secrets.AZURE_MI_CLIENT_ID }}
      #     az account set --subscription ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # - name: Setup Kubelogin
      #   uses: azure/use-kubelogin@v1
      #   with:
      #     # It's recommended to specify a version for consistency, e.g., 'v0.1.3'
      #     kubelogin-version: 'latest'

      - name: Set Kubernetes Context
        id: aks-login
        run: |
          az aks get-credentials --resource-group ${{ env.CLUSTER_RESOURCE_GROUP }} --name ${{ env.CLUSTER_NAME }} --overwrite-existing
          # kubelogin convert-kubeconfig -l azurecli -t ""

      - name: 'Build Deployment Template'
        run: |
          helm template ./helm/templates --values deploy/${{ env.ENVIRONMENT }}-${{ env.APP_TYPE }}-vaules.yaml \
          --set image.repository=${{ vars.AZURE_CONTAINER_REGISTRY_NAME }}.azurecr.io/${{ env.APP_TYPE }}:${{ env.IMAGE_TAG }}
          --set deploymentEnvironment=${{ env.ENVIRONMENT }} \
          --output-dir helm/output

      - name: 'Deploy'
        run: |
          export KUBERNETES_NAMESPACE=${{ env.KUBERNETES_NAMESPACE }}
          kubectl apply -f helm/output/templates/ -n ${KUBERNETES_NAMESPACE}