name: Deploy ingress rules
on:
  workflow_dispatch:
    # inputs:
    #   tag:
    #     description: "Artifact tag version"
    #     default: 'Example: v0.0.1'
    #     required: true

permissions:
  id-token: write # Mandatory for Azure OIDC authentication
  contents: read # Allow checkout

env:
  NAMESPACE: 'cert-manager'
  CLUSTER_RESOURCE_GROUP: 'rg-mydemo-az-asse-dev-001'
  CLUSTER_NAME: 'aks-mydemo-az-asse-dev-001'
  EMAIL: '${{ vars.CERT_MANAGER_EMAIL }}'

jobs:
  deploy-microservice:
    name: Deploy Frontend Microservice ${{ github.event.inputs.tag }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout pipelines
        uses: actions/checkout@v2

      - name: Log in with Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_MI_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Set Kubernetes Context
        id: aks-login
        run: |
          az aks get-credentials --resource-group ${{ env.CLUSTER_RESOURCE_GROUP }} --name ${{ env.CLUSTER_NAME }} --overwrite-existing
          # kubelogin convert-kubeconfig -l azurecli -t ""

      - name: 'Deploy'
        run: |
          kubectl apply -f deploy/ingress-rule.yaml